/*rtl:ignore*/
.signup-form__social {
	display: flex;
	align-items: center;
	margin: 0 -5px;

	& > div {
		flex: 1;
		box-sizing: border-box;
		margin: 0 5px;
	}
}

.signup-form__social__button {
	width: 100%;
}

.signup-form__social__logo {
	vertical-align: top;
	position: relative;
	top: 1px;
}

.signup-form__social__service-name {
	margin-left: 8px;
	line-height: 23px;
}
